server:
  port: 8090
spring:
  datasource:
    url: jdbc:mysql://localhost:3306/agency
    driver-class-name: com.mysql.cj.jdbc.Driver
    password: 123
    username: root
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    database-platform: org.hibernate.dialect.MySQLDialect
    database: mysql
    open-in-view: false
    properties:
      jakarta:
        persistence:
          sharedCache:
            mode: ENABLE_SELECTIVE
  servlet:
    multipart:
      max-file-size: 10MB
      max-request-size: 10MB
encryption:
  salt:
    rounds: 10
jwt:
  secret:
    key: AL3MOS582WX2VX458923150FSDfOLR78520034ASD3PSV5A20ASD6QAP5ADS520Z